{% extends "base.html" %}

{% block content %}
<a class="btn btn-primary" href="{{ url_for('views.medication_new') }}">Nueva medicación</a>
<hr> 
<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('views.medication_search') }}">Buscar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('views.medication_list') }}">Lista</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Ver</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Editar</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">Buscar medicación</h6>
        <form action="/medication_search" method="POST">
            <div class="input-group">
                <input class="form-control" list="lista_de_medicaciones" name="imput_field" id="imput_field" placeholder="Ingrese nombre comercial, de la droga o forma farmaceutica...">
                <datalist id="lista_de_medicaciones">
                    {% for medication in medication_list %}
                        <option value="{{ medication.commercial_name.title() }}">{{ medication.drug_name.title() }}</option>
                    {% endfor %}
                </datalist>
                <button class="btn btn-primary" type="submit" id="inputGroupFileAddon03">Buscar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}