{% extends "base.html" %}

{% block content %}
<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('views.medication_search') }}">Buscar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('views.medication_list') }}">Lista</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Ver</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" tabindex="-1">Nueva medicacion</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">Nueva medicacion</h6>
        <form class="row g-2" method="post">
            <div class="col-md-10">
                <label for="drug_name" class="form-label">Nombre de la droga</label>
                <input type="text" class="form-control" name="drug_name" placeholder="Nombre de la droga">
            </div>
            <div class="col-md-10">
                <label for="commercial_name" class="form-label">Nombre comercial</label>
                <input type="text" class="form-control" name="commercial_name" placeholder="Nombre comercial">
            </div>
            <div class="col-md-10">
                <label for="pharmaceutical_form" class="form-label">Forma farmaceutica</label>
                <select class="form-select" name="pharmaceutical_form">
                    <option selected>Seleccione uno</option>
                    <option value="Capsulas">Capsulas</option>
                    <option value="Crema">Crema</option>
                    <option value="Dosis">Dosis</option>
                    <option value="Gel">Gel</option>
                    <option value="Gotas">Gotas</option>
                    <option value="Gotas Oftalmologicas">Gotas Oftalmologicas</option>
                    <option value="Gotas Orales">Gotas Orales</option>
                    <option value="Inyectable">Inyectable</option>
                    <option value="Jarabe">Jarabe</option>
                    <option value="Loción">Loción</option>
                    <option value="Oral">Oral</option>
                    <option value="Paff">Paff</option>
                    <option value="Parche">Parche</option>
                    <option value="Polvo">Polvo</option>
                    <option value="Pomada">Pomada</option>
                    <option value="Suplemento">Suplemento</option>
                    <option value="Otro">Otro</option>
                </select>
            </div>
            <div class="col-md-10">
                <label for="measurement_unit" class="form-label">Unidad de medida</label>
                <input type="text" class="form-control" name="measurement_unit" placeholder="Unidad de medida">
            </div>
            <div class="col-md-10">
                <label for="amount" class="form-label">Cantidad</label>
                <input type="real" class="form-control" name="amount" placeholder="Cantidad">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Aceptar</button>
            </div>
        </form>
        <br>
        <form class="row g-5">
            <div class="col-auto">
                <a href="{{ url_for('views.medication_list') }}" class="btn btn-primary">Volver</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}