{% extends "base.html" %}

{% block content %}
<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link" aria-current="true" href="{{ url_for('views.medication_search') }}">Buscar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('views.medication_list') }}">Lista</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Ver</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active">Editar</a>
            </li>
          </ul>
    </div>
    <div class="card-body">
        <form class="row g-3 needs-validation" method="post" action="/medication_edit/{{ medication.id }}/edit">
            <div class="col-md-1" style="display: none;">
                <label for="id" class="form-label">ID</label>
                <input type="text" class="form-control" name="id" readonly value="{{ medication.id }}">
            </div>
            <div class="col-md-12">
                <label for="drug_name" class="form-label">Nombre de la droga</label>
                <input type="text" class="form-control" name="drug_name" value="{{ medication.drug_name.title() }}" required>
            </div>
            <div class="col-md-12">
                <label for="commercial_name" class="form-label">Nombre comercial</label>
                <input type="text" class="form-control" name="commercial_name" value="{{ medication.commercial_name.title() }}" required>
            </div>
            <div class="col-md-4">
                <label for="pharmaceutical_form" class="form-label">Forma farmaceutica</label>
                <select class="form-select" aria-label="Default select example" name="pharmaceutical_form" required>
                    {% set pharmaceutical_form_list = [ "capsulas", "crema", "dosis", "gel", "gotas", "gotas oftalmologicas", "gotas orales", 
                    "inyectables", "jarabe", "locion", "oral", "paff", "parche", "polvo", "pomada", "suplemento", "otro"] %}
                    <option value="" disabled selected hidden>Seleccione uno</option>
                    {% for form in pharmaceutical_form_list %}
                        <option value="{{ form }}">{{ form.title() }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4">
                <label for="measurement_unit" class="form-label">Unidad de medida</label>
                <select class="form-select" name="measurement_unit" required>
                    {% set measurement_unit_list = [ "mg", "g", "kg", "unidades"] %}
                    <option value="" disabled selected hidden>Seleccione uno</option>
                    {% for unit in measurement_unit_list %}
                        <option value="{{ unit }}">{{ unit.title() }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4">
                <label for="amount" class="form-label">Cantidad</label>
                <input type="real" class="form-control" name="amount" value="{{ medication.amount }}" required>
            </div>
            <div class="col-auto">
                <a href="{{ url_for('views.medication_details', id=medication.id) }}" class="btn btn-primary">Volver</a>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}