{% extends "base.html" %}

{% block content %}
<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('views.medication_search') }}">Buscar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('views.medication_list') }}">Lista</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Ver</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" tabindex="-1">Nueva medicacion</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <form class="row g-2" method="post">
            <div class="col-md-12">
                <label for="drug_name" class="form-label">Nombre de la droga</label>
                <input type="text" class="form-control" name="drug_name" placeholder="Nombre de la droga" required>
            </div>
            <div class="col-md-12">
                <label for="commercial_name" class="form-label">Nombre comercial</label>
                <input type="text" class="form-control" name="commercial_name" placeholder="Nombre comercial"required>
            </div>
            <div class="col-md-4">
                <label for="pharmaceutical_form" class="form-label">Forma farmaceutica</label>
                <select class="form-select" name="pharmaceutical_form" required>
                    {% set pharmaceutical_form_list = [ "capsulas", "crema", "dosis", "gel", "gotas", "gotas oftalmologicas", "gotas orales", 
                    "inyectables", "jarabe", "locion", "oral", "paff", "parche", "polvo", "pomada", "puplemento", "ptro"] %}
                    <option value="" disabled selected hidden>Seleccione uno</option>
                    {% for form in pharmaceutical_form_list %}
                        <option value="{{ form }}">{{ form.title() }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4">
                <label for="measurement_unit" class="form-label">Unidad de medida</label>
                <select class="form-select" name="measurement_unit" required>
                    {% set measurement_unit_list = [ "mg", "g", "kg", "unidades"] %}
                    <option value="" disabled selected hidden>Seleccione uno</option>
                    {% for unit in measurement_unit_list %}
                        <option value="{{ unit }}">{{ unit.title() }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4">
                <label for="amount" class="form-label">Cantidad</label>
                <input type="real" class="form-control" name="amount" placeholder="Cantidad" required>
            </div>
            <div class="col-auto">
                <a href="{{ url_for('views.medication_list') }}" class="btn btn-primary">Volver</a>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Aceptar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}