{% extends "base.html" %}

{% block content %}
<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active disabled" aria-current="true" aria-disabled="true">Nueva prescipcion</a>
        </ul>
    </div>
    <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">Nueva prescripción</h6>
        <form class="row g-3 needs-validation" method="post" action="/prescription_new">
            <div class="col-md-4">
                <label for="resident_id" class="form-label">Residente</label>
                <select class="form-select" aria-label="Default select example" name="resident_id">
                    {% for resident in resident_list %}
                        <option value="{{ resident.id }}">{{ resident.nickname }}, {{ resident.name }} {{ resident.last_name }}</option>
                    {% endfor %}
                </select>           
            </div>
            <div class="col-md-8">
                <label for="medication_id" class="form-label">Medicación</label>
                <select class="form-select" aria-label="Default select example" name="medication_id">
                    {% for medication in medication_list %}
                        <option value="{{ medication.id }}">{{ medication.commercial_name }}: {{ medication.drug_name }}</option>
                    {% endfor %}
                </select>                  
            </div>
            <div class="col-md-1">
                <label for="breakfast" class="form-label">Desayuno</label>
                <input type="number" step="0.5" class="form-control" name="breakfast" value="{{ breakfast }}">
            </div>
            <div class="col-md-1">
                <label for="lunch" class="form-label">Almuerzo</label>
                <input type="number" step="0.5" class="form-control" name="lunch" value="{{ lunch }}">
            </div>
            <div class="col-md-1">
                <label for="tea" class="form-label">Merienda</label>
                <input type="number" step="0.5" class="form-control" name="tea" value="{{ tea }}">
            </div>
            <div class="col-md-1">
                <label for="dinner" class="form-label">Cena</label>
                <input type="number" step="0.5" class="form-control" name="dinner" value="{{ dinner }}">
            </div>
            <div class="col-md-3">
                <label for="medication_status" class="form-label">Estado de la medicacion</label>
                <select class="form-select" aria-label="Default select example" name="medication_status">
                    <option {{ 'selected' if medication_status == 'Activo' else '' }}>Activo</option>
                    <option {{ 'selected' if medication_status == 'Suspendido' else '' }}>Suspendido</option>
                    <option {{ 'selected' if medication_status == 'SOS' else '' }}>SOS</option>
                </select>
            </div>
            <div class="col-md-2">
                <label for="in_pillbox" class="form-label">En pastillero</label>
                <select class="form-select" aria-label="Default select example" name="in_pillbox">
                    <option {{ 'selected' if in_pillbox == 'SI' else '' }}>SI</option>
                    <option {{ 'selected' if in_pillbox == 'NO' else '' }}>NO</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="floor" class="form-label">Planta a la que corresponde el residente</label>
                <select class="form-select" aria-label="Default select example" name="floor">
                    <option {{ 'selected' if floor == 'A' else '' }}>A</option>
                    <option {{ 'selected' if floor == 'B' else '' }}>B</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="prescription_date" class="form-label">Fecha de prescripción</label>
                <input type="date" class="form-control" name="prescription_date" value="{{ prescription_date }}" required>
            </div>
            <div class="col-md-6">
                <label for="notes" class="form-label">Notas</label>
                <textarea class="form-control" name="notes" value="{{ notes }}" rows="3"></textarea>
            </div>
            <div class="col-12">
                <a href="{{ url_for('views.prescription_search') }}" class="btn btn-primary">Volver</a>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}