{% extends "base.html" %}

{% block content %}
<a class="btn btn-primary" href="{{ url_for('views.resident_new') }}">Nuevo residente</a>
<hr>
<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="true" href="{{ url_for('views.resident_search') }}">Buscar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('views.resident_list') }}">Lista</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Ver</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Editar</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">Buscar residente</h6>
        <form action="/resident_search" method="POST">
            <div class="input-group">
                <input class="form-control" list="lista_de_residentes" name="imput_field" id="imput_field" placeholder="Ingrese estado, apodo, nombre o apellido del residente...">
                <datalist id="lista_de_residentes">
                    {% for resident in resident_list %}
                        <option value="{{ resident.nickname.title() }}">{{ resident.name.title() }} {{ resident.last_name.title() }}</option>
                    {% endfor %}
                </datalist>
                <button class="btn btn-primary" type="submit" id="inputGroupFileAddon03">Buscar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
