{% extends "base.html" %}

{% block content %}
{{ super() }}
<form class="row g-3 needs-validation" method="post" action="/new_medication_stock">
    <div class="col-md-1" style="display: none;">
        <label for="id" class="form-label">ID</label>
        <input type="text" class="form-control" name="id" readonly>
    </div>
    <div class="col-md-2">
        <label for="resident_id" class="form-label">Residente</label>
        <input type="text" class="form-control" name="resident_id" value="{{ prescription.resident_id }}" required readonly>
    </div>
    <div class="col-md-2">
        <label for="medication_id" class="form-label">Medicación</label>
        <select class="form-select" aria-label="Default select example" name="medication_id">
            {% for medication in medications_list %}
                <option value="{{ medication.id }}">{{ medication.commercial_name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-2">
        <label for="amount" class="form-label">Cantidad</label>
        <input type="number" step="0.5" class="form-control" name="amount" required>
    </div>
    <div class="col-md-2">
        <label for="notes" class="form-label">Notas</label>
        <textarea class="form-control" name="notes" rows="3"></textarea>
    </div>
    <div class="col-md-2">
        <label for="date" class="form-label">Fecha de ingreso</label>
        <input type="date" class="form-control" name="date" required>
    </div>
    <div class="col-md-2">
        <label for="prescription_id" class="form-label">ID de prescripción</label>
        <input type="text" class="form-control" name="prescription_id" value="{{ prescription.id }}" required readonly>
    </div>
    <div class="col-12">
        <a href="{{ url_for('stock_list', prescription_id = prescription.id) }}" class="btn btn-primary">Volver</a>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
</form>
{% endblock %}