{% extends "base.html" %}

{% block content %}
  {{ super() }}
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Residente</th>
        <th scope="col">Nombre comercial</th>
        <th scope="col">Cantidad</th>
        <th scope="col">ID de prescripción</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for stock in stock_list %}
      <tr>
        <td>{{ stock.resident_id }}</td>
        <td>{{ stock.medication_id }}</td>
        <td>{{ stock.amount }}</td>
        <td>{{ stock.prescription_id }}</td>
        <td>
          <a href="{{ url_for('stock_details', stock_id = stock.stock_id) }}" class="btn btn-primary btn-sm">Editar/Ajustar</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{{ url_for('new_stock', prescription_id = prescription_id) }}" class="btn btn-primary">Agregar</a>
{% endblock %}